@page
@model AgilSystemutveckling_Xamarin_Net5.Pages.Event.EventDescriptionModel
@{
}

<style>
    .containerDesc{
        position: absolute;
        width: 800px;
        height: 372px;
        margin-left: 26%;
        background: #FFFFFF;
        border-radius: 79px;
        margin-top: 44px;
    }

    .descTitle{
         margin-left: 200px;
         margin-top: 60px;

    }

    .body-container {
            /*remove the container default padding attribute*/
            padding-left: 0px !important;
            padding-right: 0px !important;
            /*increase width as per your need*/
            max-width: 100%;

    }

    .backToSearch {
        font-size: 24px;
        color: white;
        border: none;
        width: 100px;
        height: 46px;
        margin-top: 300px;
        margin-left: -10px;
    }

    #backToSearchimg {
        font-size: 50px;
        color: black;
        border: none;
        width: 50px;
        height: 46px;
        margin-top: -50px;
        margin-left: 40px;
    }

    #EditDesc {
        font-size: 19px;
        background-color: #6FC767;
        color: white;
        border: none;
        width: 60px;
        height: 30px;
        margin-left: 85%;
        margin-top: 50%;
    }

    #imageDesc{
        width: 100px;
        margin-left: 50px;
        margin-top: 45px;
    }
    #makealoan{
        font-size: 20px;
        width: 150px;
        height:40px;
        color:white;
        font-weight:bold;
        background-color:#6FC767;
        margin-top: 81px;
        margin-left:55px;
        border-radius:10px;
        border:0px;
        padding-right: 105px;
    }
    .descHolder{
        width: 600px;
        text-align: center;
        margin-left: 90px;
        margin-top: 30px;
    }

    .descAuthor{
        margin-left: 150px;
        margin-top: 20px;
    }
    .desctitleauthor{
        width: 600px;
        text-align: center;
        margin-left: -250px;
        margin-top: 30px;
    }

    /* Popup container - can be anything you want */
    .popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 0px;
  height: 0px;


}

/* The actual popup */
/*.popup .popuptext {
  visibility: hidden;
  width: 300px;
  background-color: #6FC767;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: 400px;
}
.popup*/ .popuptext {
  visibility: hidden;
  width: 400px;
  height: 50px;
  font-weight: bold;
  font-size:medium;
  background-color: #6FC767;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-top: 10px;
  margin-left: 350px;
}


/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 3s;
  animation: fadeIn 3s;
}



</style>

<form method="post">
    <div class="containerDesc">
        <div class="row">
        <div class="col-sm-9">
            <div class="row">
                <div class="col-8 col-sm-6">
                    <div class="desctitleauthor">
                        <h3 class ="descTitle">@EventDescriptionModel.title</h3>
                    </div>
                </div>
            </div>
        </div>
        </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="descHolder">@EventDescriptionModel.description</p>
                </div>
            </div>
    </div>
 </form>


<form action="/SearchPage">
    <button class="backToSearch">
        <i class="bi bi-arrow-left" id="backToSearchimg"></i>
    </button>
    @*<input id="backToSearch" class="Buttons" type="submit" value="Back">*@
</form> 

<script>
// When the user clicks on div, open the popup
function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}

</script>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
