@page
@using AgilSystemutveckling_Xamarin_Net5
@using AgilSystemutveckling_Xamarin_Net5.Pages.Event
@model AgilSystemutveckling_Xamarin_Net5.Pages.Event.EventPageModel
@{
}
<header class="Menu"> 

    <ul class="nav nav-pills nav-fill">
        
        @if (Globals.LoggedInUser.Level > 0)
        {
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="../ProductPage">Products</a>
            </li>
        }
         @if (Globals.LoggedInUser.Level > 0)
        {
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Event/EventPage">Event</a>
            </li>
        }
        @if (Globals.LoggedInUser.Level == 1)
        {
            <li class="nav-item">
            <a class="nav-link" href="../CheckoutPage">Cart</a>
            </li>

            <li class="nav-item">
            <a class="nav-link" href="../ActiveLoansPage">Active Loans</a>
            </li>
        }

        @if (Globals.LoggedInUser.Level > 1)
        {
          <li class="nav-item">
            <a class="nav-link" href="/Admin/User/UserListPage">Users</a>
          </li>
        }
         @if (Globals.LoggedInUser.Level > 1)
        {
          <li class="nav-item">
            <a class="nav-link" href="/Admin/Category/CategoryPage">Category</a>
          </li>
        }
    </ul>
   
</header>

    

<div class="container">
    <div class="row">
                            
        <div class="col-2">
            <div class="mt-3 mb-3">
                @if (Globals.LoggedInUser.Level > 1 && Globals.LoggedInUser.Blocked == false)
                {
                    <a id="addbutton11" href="#myModal" role="button" class="btn product-add" data-bs-toggle="modal">Add Event</a>
                }
            </div>
        </div>
        <div class="col-10">
            <div class="mt-3 mb-3">
                <input class="form-control" id="filter" type="search" placeholder="Search" aria-label="Search" autocomplete="off" style="border-radius:12px; width:60%;margin-left:-32px"> 
            </div>
        </div>
    </div>

</div>
@if(EventPageModel.EventsList.Count == 0)
{
  <h4>No Events</h4>  
}

@foreach (var item in EventPageModel.EventsList)
{ 
    <div class="container">
        <div id="mycard" class="row">
            <div class="row">

                <div class="col-8" style="margin-bottom:20px; margin-left:90px; background-color: white; border-radius:12px;height:145px;">
                    <h3>@item.Title</h3>
                    <ul style="list-style-type: none;">
                        <li><a id="link_to_Info" asp-page="/Event/EventDescription" asp-route-id="@item.Id">View Details</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
</div>
}

<style>
    .BookTitle{
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    #search{
        width: 800px;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #info_box{
            background-color:white;
            padding-right: 500px;
            border-width:100px;
            border-right-color: black;
            margin-bottom: 35px;
            border-radius: 10px;
    }

    #link_to_Info{
        color: black;
    }

    #addbutton{
        margin-left: 100px;
    }

     #make_a_loan{
        float: right;
        margin-top: 30px;
        width: 150px;
        height:40px;
        color:white;
        font-weight:bold;
        background-color:#6FC767;
        border-radius: 10px;
        border:0px;
    }

    #make_a_loan:hover{
        background-color:#4FC157;
    }

    #unitsav{
        margin-top: 50px;
        font-size: 15px;
    }
</style>




  <script>
$(document).ready(function(){
  $("#filter").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#mycard > div").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>


    <!-- Modal HTML -->
   <form method="post" >
    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Event</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label asp-for="NewEvent.Title" class="form-label">Title</label>
                                <input asp-for="NewEvent.Title" type="text" class="form-control">
                                <span asp-validation-for="NewEvent.Title" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    
                    
                      <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label asp-for="NewEvent.Description" class="form-label">Description</label>
                                <textarea asp-for="NewEvent.Description" class="form-control" ></textarea>
                                <span asp-validation-for="NewEvent.Description" class="text-danger"></span>
                            </div>
                        </div>
                     </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button  class="btn btn-primary" asp-page-handler="Add" id="bt" >Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    @section Scripts { 
         <script>
    tinyMCE.init({
        selector: 'textarea',
    });
  </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 
}