<?xml version="1.0"?>
<configuration 
        xmlns="https://schemas.microsoft.com/.NetConfiguration/v2.0">
	<connectionStrings>
		<add
			name="LibraryDBConnection"
			connectionString="Server=xamarindb.c6pefsvvniwb.eu-north-1.rds.amazonaws.com; Database=sys; UID=admin; Password=Xamarin321;" />
	</connectionStrings>
    <appSettings/>
    <system.web>
    </system.web>
</configuration>