<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AgilSystemutveckling_Xamarin_Net5</title>
    <link rel="stylesheet" href="~/css/bootswatch_Flatly.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
     <link rel="stylesheet" href="~/css/UserList.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/css/print.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AgilSystemutveckling_Xamarin_Net5.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>


</head>
<body>
     <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="me-auto">
                    <a class="navbar-brand" asp-page="/ProductPage"><img src="/image/Logo1.png" class="logo" /></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        
                        @if(Globals.LoggedInUser.Level > 1){
                            
                            <li class="nav-item" style="font-weight: bold">
                                <a class="nav-link text-dark" asp-area="" asp-page="/ProductPage">Home</a>
                            </li>
                           
                            <li class="nav-item" style="font-weight: bold">
                                <a class="nav-link text-dark" asp-area="" asp-page="./Admin/Report/LendingPage">Report</a>
                            </li>
                             <li class="nav-item" style="font-weight: bold">
                                <a class="nav-link text-dark" asp-area="" asp-page="./Admin/QueuePage">Queue</a>
                            </li>
                        }
                        </ul>
                        @if(Globals.LoggedInUser.Blocked == true)
                        {
                            <ul>
                                <h5 style="background-color:red; color:white; font-size:30px;">Account Blocked: Inform Employee for further assistance!</h5>
                            </ul>  
                        }
                    

                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy"><img src="/image/infoIcon.png" class="info" /></a>
                        </li>

                        @if(Globals.LoggedInUser.Level == 0){
                            <li class="nav-item" style="font-weight: bold">
                                <a class="nav-link text-dark" asp-area="" asp-page="LoginPage">Login</a>
                            </li>
                        }else
                        {
                            <li class="nav-item" style="font-weight: bold">
                                <p class="nav-link text-dark" >@Globals.LoggedInUser.FirstName</p>
                            </li>

                             <li class="nav-item" style="font-weight: bold">
                                <a class="nav-link text-dark" asp-page="/index">Sign out</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container body-container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- JavaScript Bundle with Popper -->
    @*<script src=<!-- JavaScript Bundle with Popper -->*@
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/print.js" asp-append-version="true"></script>
  <script src="https://cdn.tiny.cloud/1/ny719qn1zm7xeaar2apohsn508irhs08kmu4rl82h3j88rfu/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>