@page
@model AgilSystemutveckling_Xamarin_Net5.Pages.Admin.Report.DelayPageModel
@{
}

    
<!-- Bootstrap nav-tab to navigiate through all 4 pages-->
<header class="Menu"> 

    <ul class="nav nav-pills nav-fill">
       <!--We use if statement for different access depending on user level-->
        @if (Globals.LoggedInUser.Level > 1)
        {
          <li class="nav-item">
            <a class="nav-link" href="/Admin/Report/LendingPage">Lendings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/Admin/Report/DelayPage">Delays</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Admin/Report/MostPopularPage">Most Popular Items</a>
          </li>
        }
    </ul>
   
</header>
<!--Delaye info listed in a table -->
<div class="users">
  <div id="divPrint">
    <table class="user-list">
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Date</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Service.GetService.Get.LateReturns())
        {
            <tr>
                <td><a>@item.FirstName @item.LastName</a></td>
                <td>@item.Title</td>
                <td>@item.DateTime.Date</td>
            </tr>
        }
     </table>
   </div>
    <button id="printbutton" onclick="printContent('divPrint')">Print content</button> 
</div>
