@page
@model AgilSystemutveckling_Xamarin_Net5.Pages.Admin.Report.MostPopularPageModel
@{
}

<!-- Bootstrap nav-tab to navigiate through all 4 pages -->
<header class="Menu"> 

    <ul class="nav nav-pills nav-fill">
         <!--We use if statement for different access depending on user level-->
        @if (Globals.LoggedInUser.Level > 1)
        {
          <li class="nav-item">
            <a class="nav-link" href="/Admin/Report/LendingPage">Lendings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Admin/Report/DelayPage">Delays</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/Admin/Report/MostPopularPage">Most Popular Items</a>
          </li>
        }
    </ul>
   
</header>

<!--Most popular info listed in a table -->
<div class="users">
  <div id="divPrint">
    <table class="user-list">
        <tr>
            <th>Title</th>
            <th>Categori</th>
            <th>Author</th>
        </tr>
        @foreach (var item in Service.ReportsService.Reports.MostPopularProducts(5))
        {
            <tr>
                <td><a>@item.Title</a></td>
                <td>@item.CategoryName</td>
                <td>@item.AuthorName</td>
            </tr>

        }
     </table>
   </div>
    <button id="printbutton" onclick="printContent('divPrint')">Print content</button> 
</div>