@page
@model AgilSystemutveckling_Xamarin_Net5.Pages.ActiveLoansPageModel
@{
}
<header class="Menu"> 

    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
        <a class="nav-link" aria-current="page" href="SearchPage">Products</a>
        </li>

        @if (Globals.LoggedInUser.Level == 1)
        {
            <li class="nav-item">
            <a class="nav-link" href="CheckoutPage">Cart</a>
            </li>

            <li class="nav-item">
            <a class="nav-link active" href="#">Active Loans</a>
            </li>
        }

    </ul>
   
</header>
<div class="users">
    
        <table id="myTable" class="user-list">
        <tr>
            <th>Product</th>
            <th>Category</th>
            <th>Loand Date</th>
            <th>Return Date</th>
            <th></th>
        </tr>
        
        @foreach (var item in Globals.CartList)
        {
            <tr>
                <td>@item.Title </td>
                <td></td>
                <td></td>
                <td>
                    <form method="post">
                        <input
                            type="image"                       
                            src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgd2lkdGg9IjFlbSIgaGVpZ2h0PSIxZW0iIHZpZXdCb3g9IjAgMCAxNiAxNiIgY2xhc3M9ImJpIGJpLXRyYXNoLWZpbGwiIGZpbGw9ImN1cnJlbnRDb2xvciIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMi41IDFhMSAxIDAgMCAwLTEgMXYxYTEgMSAwIDAgMCAxIDFIM3Y5YTIgMiAwIDAgMCAyIDJoNmEyIDIgMCAwIDAgMi0yVjRoLjVhMSAxIDAgMCAwIDEtMVYyYTEgMSAwIDAgMC0xLTFIMTBhMSAxIDAgMCAwLTEtMUg3YTEgMSAwIDAgMC0xIDFIMi41em0zIDRhLjUuNSAwIDAgMSAuNS41djdhLjUuNSAwIDAgMS0xIDB2LTdhLjUuNSAwIDAgMSAuNS0uNXpNOCA1YS41LjUgMCAwIDEgLjUuNXY3YS41LjUgMCAwIDEtMSAwdi03QS41LjUgMCAwIDEgOCA1em0zIC41YS41LjUgMCAwIDAtMSAwdjdhLjUuNSAwIDAgMCAxIDB2LTd6Ii8+DQo8L3N2Zz4="
                            asp-page-handler="DeliteFromCart" 
                            asp-route-id="@item.Id"
                            /> 
                    </form>
                </td>
            </tr>
        }
    </table>
    
    
</div>