@page
@model AgilSystemutveckling_Xamarin_Net5.Pages.AdminPageModel
@{
}

<header class="Menu">
    
    <div class="header-box">
      <h1 class="header-title">Stan AB Bibloteken</h1>
    </div>
    
    <table class="adminpage-buttons">
        <tr>
            <td><input class="users" type="submit" asp-page="/LoginPage" value="Users"></td>
            <td><input class="products" type="submit" asp-page="/LoginPage" value="Products"></td>
            <td><input class="repports" type="submit" asp-page="/LoginPage" value="Repports"></td>
        </tr>
    </table>

    <div class="center-of-page">
            <input
            class="search-field"
            type="text"
            placeholder="Search for book name..."/>

        <div class="checkbox-for-list-chose">
            <input class="checkboxes" type="checkbox">All</input>
            <input class="checkboxes" type="checkbox">Users</input>
            <input class="checkboxes" type="checkbox">Employess</input>
        </div>

        <table id="myTable">
            <tr>
                <th style="width:50%;">Id</th>
                <th style="width:50%;">Name</th>         
            </tr>
            @foreach (var item in TestService.GetService.Get.GetAllUsers())
            {
                <tr>
                    <td style="width:50%;"><a href="/index">@item.Id</a></td>
                    <td style="width:50%;"><a href="/index">@item.Password</a></td>
                </tr>
            }
        </table>
    </div>

    <style>
        .header-box {
            width:stretch;
            height: 150px;
            background-color: rgb(86, 146, 88);
            padding: 0px;
            margin: 0px;
            }

        .header-title {
            margin-top: 0px;
            padding-top: 30px;
            padding-left: 20px;
            max-width: 330px;
            font-size: calc(1.375rem + 1.5vw);
            font-family: sans-serif;
            color: rgb(46, 46, 46);
            }

        .adminpage-buttons{
            display: flex;
            justify-content: center;
            margin-top: -40px;
            }

        .center-of-page {
            background-color: rgb(255 ,243 ,202);
            position: fixed;
            width: 100%;
            height: 100%;
            }

        .search-field {
            display: block;
            width: 40%;
            margin-left: 192px;
            margin-right: 60px;
            margin-bottom:20px;
            margin-top: 80px;
            padding: 12px 20px 12px 40px;
            }

        .checkbox-for-list-chose{
            margin-left:142px;
        }

        .checkboxes{
            margin-left:50px;
        }

        .users, .products, .repports{
            font-size: 24px;
            background-color: rgb(255 ,243 ,202);
            color: rgb(46, 46, 46);
            border: none;
            width: 209px;
            height: 46px;
            margin-top: -3px;
            border-color: rgb(255 ,243 ,202);
            border-bottom-style: solid;
            margin-right: 40px;
            transition:  opacity 0.30s, ;
            }
            
        .users:hover, .products:hover, .repports:hover{
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            }
        </style>

</header>


