@page
@model AgilSystemutveckling_Xamarin_Net5.Pages.DescriptionPageModel
@{
}

<style>
    .containerDesc{
        position: absolute;
        width: 800px;
        height: 450px;
        margin-left: 26%;
        top: 401px;
        background: #FFFFFF;
        border-radius: 79px;
        margin-top: -90px;
    }

    .descTitle{
         margin-left: 42%;
         margin-top: 60px;
         color: #FFC48E;
         text-decoration-line: underline;
    }

    .body-container {
            /*remove the container default padding attribute*/
            padding-left: 0px !important;
            padding-right: 0px !important;
            /*increase width as per your need*/
            max-width: 100%;

    }

    #backToSearch {
        font-size: 24px;
        background-color: #FFC48E;
        color: white;
        border: none;
        width: 100px;
        height: 46px;
        margin-top: 500px;
        margin-left: 40px;
    }
</style>

<header class="Menu">
    <div class="Title">
        <h1 class="SearchPageTitle">Stan AB</h1>
        <h1 class="SearchPageTitle">Biblioteken</h1>
    </div>
</header>

<div class="descTitle">
    <h1>Bokens titel</h1>
</div>

<div class="containerDesc">
    
</div>

<div>
    <input id="backToSearch" class="Buttons" type="submit" value="Back">
</div>
