@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <input class="Info" type="submit" value="Info">
    <h1 class="display-4">Stan AB Biblioteken</h1>
    <div id="Buttons">
        <input class="LogIn" type="submit" value="Log In">
        
        <form method="get">
            <input class="Guest" type="submit" asp-page="/SearchPage" value="Guest">
        </form>
    </div>

</div>
