@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!--
    <input class="Info" type="submit" value="Info">
    -->
    <h1 class="display-4">Stan AB Biblioteken</h1>
    <div id="Buttons">
        <form>
            <input class="LogIn" type="submit" asp-page="/LoginPage" value="Log In">
        </form>
        <form method="get">
            <input class="Guest" type="submit" asp-page="/SearchPage" value="Guest">
        </form>
    </div>

</div>

<style>

    .body-container {
            /*remove the container default padding attribute*/
            padding-left: 0px !important;
            padding-right: 0px !important;
            /*increase width as per your need*/
            max-width: 100%;
        } 
</style>
