@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    #top{
        width:800px;
        margin-left: 20%;
        margin-top: 40px;
    }

    #pgHead{
        font-size: 20px;
    }

    .pg{
        width:800px;
        margin-left: 20%;
        margin-top: 40px;
    }

    .pgBody{
        margin-top: 10px;
    }

    .priv{
        width:800px;
        margin-left: 20%;
        margin-top: 40px;
    }
    #privText{
        font-size: 15px;
        width:800px;
        margin-left: 20%;
        margin-top: 40px;
    }
    .aboutPage{
        overflow: scroll;
    }
    #aboutHead{
        width:800px;
        margin-left: 20%;
        margin-top: 40px;
    }
    


</style>
<div class="aboutPage">
    <i id="aboutHead" class="h1">About Stan AB Bilioteken</i>

    <h5 id="top">The Library provides a number of services to support your individual information needs. Each programme has an individual gateway. This will enable you to go directly to resources that are relevant to your course, thereby saving you time. For example subject specific law resources can be found on the Law gateway..</h5>
    <div class="pg">
        <b id="pgHead">Visitors and staff can submit enquiries to the Library by:</b>
        <div class="pgBody">
            <p>- Telephone: +46(0)70 957 74 42 between 09.00 - 17.00 Mon – Fri. Messages can also be left on the Voicemail and will be answered within two working days.</p>
            <p>- Enquiries can be submitted via our contact form.</p>
            <p>- Email: stan.ab.bibliteken@gmail.com</p>
            <p>- Feedback will be given within a period of 72 hours except on weekends and Holidays. Please include all necessary details e.g. student number, full name, qualification name and a clear statement of need.</p>
            <p>- You can also talk to a librarian in real time by Ask a Librarian Live Chat.</p>
            <p>- You may find an immediate answer to your question in our online help pages.</p>
        </div>
    </div>
    
    <h4 class="priv">Privacy</h4>
    <p id="privText">The Library will manage your personal data in accordance with the General Data Protection Regulation (GDPR). As a Library of Stockholm you can view the user privacy notice and find out more about your data protection rights on the Stan AB Data Protection Policy page. </p>
</div>