@page
@model AgilSystemutveckling_Xamarin_Net5.Pages.SearchPageModel
@{
    ViewData["Title"] = "Search page";
}

<header class="Menu">
    <h1 class="SearchPageTitle">Stan AB Biblioteken</h1>
</header>

