@page
@model AgilSystemutveckling_Xamarin_Net5.Pages.SearchPageModel
@{
    ViewData["Title"] = "Search page";
}



<header class="Menu"> 

    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Admin/User/UserListPage">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul>
   
</header>

<input type="text" id="my_input" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

  @foreach (var item in SearchPageModel.BookName)
  {
    <div id="info_box">
        <table id="myTable">
            <tr>
                <td>
                    <p class="BookTitle" href=/index>@item.Title</p>
                    <img src="https://image.bokus.com/images/9789129657333_200x_gullivers-resor_kartonnage"/>
                </td>
                <td>
                    <table>
                        <tr>
                            <td>
                            
                                <p><strong>Author:</strong> @item.AuthorName</p>
                                <p><strong>Category:</strong> @item.SubCategoryName</p>
                                <p>@item.CategoryName</p>
                                <a id="link_to_Info" href="/DescriptionPage">Info</a>
                             
                            </td>
                    </table>
                </td>
            </tr>
        </table>
    </div>
  }

<style>
    .BookTitle{
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    #my_input{
        width: 800px;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #info_box{
            background-color:white;
            padding-right: 500px;
            border-width:100px;
            border-right-color: black;
            margin-bottom: 35px;
            border-radius: 10px;
    }

    #link_to_Info{
        color: black;
    }
</style>


<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>

