@page
@model AgilSystemutveckling_Xamarin_Net5.Pages.SearchPageModel
@{
    ViewData["Title"] = "Search page";
}

<style>
    input.Books {
    font-size: 24px;
    background-color: #FFC48E;
    color: #FFF3CA;
    border: none;
    width: 209px;
    height: 46px;
    margin-top: -9px;
    margin-right: 0px;
    border-bottom: 2px;
    border-color: #FFF3CA;
    border-bottom-style: solid;
    }

    input.Books:hover {
    background-color: #FFF3CA;
    color: #FFC48E;
    }

    input.Movies {
    font-size: 24px;
    background-color: #FFC48E;
    color: #FFF3CA;
    border: none;
    width: 209px;
    height: 46px;
    margin-top: -9px;
    margin-right: 0px;
    border-bottom: 2px;
    border-color: #FFF3CA;
    border-bottom-style: solid;
    }

    input.Movies:hover {
    background-color: #FFF3CA;
    color: #FFC48E;
    }

    .Books{
    display: inline;
    justify-content: center;
    }

    td a {
    display: block;
    color: black;
    }

    h1.SearchPageTitle {
    margin-top: 20px;
    color: #FFF3CA;
    font-weight: bold;
    margin-left: 20px;
    }

    .Menu {
    background-color: #FFC48E;
    height: 150px;
    width: 80%;
    padding: 0px;
    float: left;
    width: 100%;
    }

    #myInput {
    display: block;
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 80%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-left: auto;
    margin-right: auto;
    }

    #myTable {
    border-collapse: collapse;
    width: 80%;
    border: 1px solid #ddd;
    font-size: 18px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    }

    #myTable th, #myTable td {
    text-align: left;
    padding: 12px;
    }

    #myTable tr {
    border-bottom: 1px solid #ddd;
    }

    #myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
    }
</style>

<header class="Menu">
    <div class="Title">
        <h1 class="SearchPageTitle">Stan AB</h1>
        <h1 class="SearchPageTitle">Biblioteken</h1>
    </div>
    <!--
    <div id="Buttons">
        <input class="Books" type="submit" asp-page="/LoginPage" value="Books">
        <input class="Movies" type="submit" asp-page="/LoginPage" value="Movies">
    </div>
    -->
</header>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<table id="myTable">
  <tr class="header">
    <th style="width:50%;">Name</th>
    <th style="width:50%;">Author</th>


  </tr>
  @foreach (var item in SearchPageModel.BookName)
  {
        <tr>
            <td><a href="/index">@item.Title</a></td>
            <td><a href="/index">@item.Name</a></td>
        </tr>
  }
</table>

<style>

    .body-container {
            /*remove the container default padding attribute*/
            padding-left: 0px !important;
            padding-right: 0px !important;
            /*increase width as per your need*/
            max-width: 100%;
        } 
</style>

<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>

