@page
@model AgilSystemutveckling_Xamarin_Net5.Pages.UserPageModel
@{
}
<container class="userPage">
	<table>
		<tr>
			<td>
				<h1>You are logged in as @LoginPageModel.username</h1>
			</td>
		</tr>
		<tr>
			<td>
				<a href="/index">go back</a>
			</td>
		</tr>
	</table>
</container>



<style>
	.userPage{
		display:flex;
		justify-content: center;
		margin-top: 200px;
	}

	a{
		text-align: center;
	}
</style>
