@page 
@model AgilSystemutveckling_Xamarin_Net5.Pages.Admin.Category.CategoryPageModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!-- Bootstrap nav-tab to navigiate through all 4 pages -->
<header class="Menu"> 

    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/ProductPage">Products</a>
      </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/Event/EventPage">Event</a>
        </li>
        
      <li class="nav-item">
        <a class="nav-link" href="/Admin/User/UserListPage">Users</a>
      </li>
            <li class="nav-item">
        <a class="nav-link active" href="/Admin/Category/CategoryPage">Category</a>
      </li>
    </ul>
   
</header>

<div class="users">
    <div class="user-tools">
        <!--When "Add Category button is clicked, it will pop up a form to add a new Category"-->
        <a href="#myModal" role="button" class="btn user-add" data-bs-toggle="modal">Add Category</a>
        <div class="user-search">
            <form method="post">
                <input id="myInput" onkeyup="myFunction()"  class="user-search-input" type="search" placeholder="Search" name="searchString" value="">
            </form>            
        </div>                   
    </div>
    <table id="myTable" class="user-list">
        <tr>
            <th>Category</th>
        </tr>
        @foreach (var item in CategoryPageModel.CategoryList)
        {
            <tr>

                <td>@item.CategoryName</td>
            </tr>
        }
     </table>

       <!-- Modal HTML a form to add new Category-->
    <form method="post">
        <div id="myModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Category</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        
                          <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label asp-for="NewCategories.CategoryName" class="form-label">Category</label>
                                    <input asp-for="NewCategories.CategoryName" type="text" class="form-control">
                                   <span asp-validation-for="NewCategories.CategoryName" class="text-danger"></span>

                                </div>
                            </div>
                        </div>
                         
                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" asp-page-handler="Add">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts { 
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 
}
 <script>
//Javascript to search for specific data in a table.
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 1; i < tr.length; i++) {
    td = tr[i];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

