html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 0px;
    background-color: #FFF3CA;
}



input.Books {
    font-size: 24px;
    background-color: #FFC48E;
    color: #FFF3CA;
    border: none;
    width: 209px;
    height: 46px;
    margin-top: -9px;
    margin-right: 0px;
    border-bottom: 2px;
    border-color: #FFF3CA;
    border-bottom-style: solid;
}

input.Books:hover {
    background-color: #FFF3CA;
    color: #FFC48E;
}

input.Movies {
    font-size: 24px;
    background-color: #FFC48E;
    color: #FFF3CA;
    border: none;
    width: 209px;
    height: 46px;
    margin-top: -9px;
    margin-right: 0px;
    border-bottom: 2px;
    border-color: #FFF3CA;
    border-bottom-style: solid;
}

    input.Movies:hover {
        background-color: #FFF3CA;
        color: #FFC48E;
    }

.Books {
    display: inline;
    justify-content: center;
}

td a {
    display: block;
    color: black;
}

h1.SearchPageTitle {
    margin-top: 20px;
    color: #FFF3CA;
    font-weight: bold;
    margin-left: 20px;
}

.Menu {
    background-color: #FFC48E;
    height: 150px;
    width: stretch;
    padding: 0px;
    float: left;
}

#myInput {
    display: block;
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 80%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-left: auto;
    margin-right: auto;
}

#myTable {
    border-collapse: collapse;
    width: 80%;
    border: 1px solid #ddd;
    font-size: 18px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

#myTable th, #myTable td {
    text-align: left;
    padding: 12px;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
}


