body {
    padding-top: 200px;
    background-color:#F2F2F2;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    font-size: 25px;
    word-break: break-all;
}
.imgSize {
    width: 145px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

a {
    color: #fff;
}
.navbar-white {
    background: #6FC767
}
.text-dark {
    color: #fff ;
    font-size: 20px;
    
}
.logo{
    width:261px;
    margin-bottom: -83px;
    margin-left: 248px;
    margin-top: -70px;
}
.info {
    width: 37px;
    margin-bottom: -83px;
    margin-left: 807px;
    margin-top: -85px;
}
.account {
    width: 44px;
    margin-bottom: -83px;
    margin-left: -89px;
    margin-top: -188px;
    
}
.btn-primary {
    padding-right: 60px;
    padding-left: 60px;
    border-color: #6FC767;
    font-size: 20px;
    font-weight: bold;
}



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #6FC767;
    border-color: #1861ac;
}

.navbar-expand-sm .navbar-nav .nav-link {
    /*margin-bottom:-33px;*/
    /*padding-top: 1.5rem;*/
    margin-top:59px;
    margin-bottom:-56px;
}
.card-body{
    padding: 7rem 6rem;
}
.card {
    border-radius: 1.25rem;
}
.mt-5{
    margin-top: 4rem !important;
}
.btn {
    color: #fff;
    background-color: #6FC767;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.body-container {*/
    /*remove the container default padding attribute*/
    /*padding-left: 0px !important;
    padding-right: 0px !important;*/
    /*increase width as per your need*/
    /*max-width: 100%;
} 

body {
    margin-bottom: 0px;
    background-color: #FFF3CA;
}

.Buttons:hover {
    opacity: 0.8;
}


input.Books {
    font-size: 24px;
    background-color: #FFC48E;
    color: #FFF3CA;
    border: none;
    width: 209px;
    height: 46px;
    margin-top: -9px;
    margin-right: 0px;
    border-bottom: 2px;
    border-color: #FFF3CA;
    border-bottom-style: solid;
}

input.Books:hover {
    background-color: #FFF3CA;
    color: #FFC48E;
}

input.Movies {
    font-size: 24px;
    background-color: #FFC48E;
    color: #FFF3CA;
    border: none;
    width: 209px;
    height: 46px;
    margin-top: -9px;
    margin-right: 0px;
    border-bottom: 2px;
    border-color: #FFF3CA;
    border-bottom-style: solid;
}

input.Movies:hover {
    background-color: #FFF3CA;
    color: #FFC48E;
}

.Books {
    display: inline;
    justify-content: center;
}

td a {
    display: block;
    color: black;
}

h1.SearchPageTitle {
    margin-top: 20px;
    color: #FFF3CA;
    font-weight: bold;
    margin-left: 20px;
}

.Menu {
    background-color: #FFC48E;
    height: 150px;
    width: stretch;
    padding: 0px;
    margin-top: 0;
}

#myInput {
    display: block;
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 80%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-left: auto;
    margin-right: auto;
}

#myTable {
    border-collapse: collapse;
    width: 80%;
    border: 1px solid #ddd;
    font-size: 18px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

#myTable th, #myTable td {
    text-align: left;
    padding: 12px;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
}*/


