@page
@model AgilSystemutveckling_Xamarin_Net5.Pages.Admin.User.EditUserPageModel
@{
}

<form method="post">
    <div class="containerDesc">
        <h1 id="full_name">@EditUserPageModel.UserInfo.FirstName @EditUserPageModel.UserInfo.LastName</h1>
        <div class="info_box">
            <div>
                <label style="margin-top:60px;margin-bottom: 40px; font-weight: bold;"> New Addres: 
                    <input type="text"/>
                </label>
            </div>
            <div>
                <label style="margin-top:10px;margin-bottom: 40px; font-weight: bold;"> New Password: 
                    <input type="text"/>
                </label>
            </div>
            <div>
            <label style="font-weight: bold;" id="blocked_label">Blocked:
                <h5 class="child">@EditUserPageModel.UserInfo.Blocked</h5>
                <div>
                <form method="post">
                    @if(@EditUserPageModel.UserInfo.Blocked == true)
                    {
                        <button class="btn btn-danger text-white" asp-page-handler="Unblock"  style="background-color:#e74c3c"><i class="fas fa-lock"></i></button>
                         
                    }
                    else
                    {
                        <button class="btn btn-success text-white" asp-page-handler="Block" style="background-color: #6FC767;"><i class="fas fa-lock-open"></i></button>

                    }
                </form>
                </div>

            </label>
            </div>
        </div>

    </div>
 </form>

 <style>
     .containerDesc{
            position: absolute;
            width: 450px;
            height: 456px;
            margin-left: 397px;
            background: #FFFFFF;
            border-radius: 79px;
            margin-top: 44px;
    }

    #full_name{
            margin-left: 105px;
            margin-top: 35px;
    }
   

    .info_box{
         margin-left: 77px;
         margin-top: -28px;
    }

    #blocked_label{
        white-space: nowrap;
         width: 100px;
    }
    .child{
        display: inline-block;
        font-style: italic;
    }
 </style>